.logo {
  position: absolute;
  top: 40px;
  left: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
  z-index: 10;
}

.logo-image {
  width: auto;
  height: 130px;
  object-fit: contain;
  margin-left: -90px;
}
